body{
    font-family:sans-serif;
    max-width:500px;
    margin:auto;
    padding:20px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:12px;
}

pre{
    margin-top:20px;
    background:#eee;
    padding:15px;
}